@font-face {
  font-family: Algerian;
  src: url(css/Algerian.ttf);
}


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background: linear-gradient(to  left, rgb(252, 228, 236), rgb(227, 242, 253)); */
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.main{
  width: 800px;
  height: 500px;
  background: linear-gradient(to  left, rgba(252, 228, 236, 0.5), rgba(227, 242, 253, 0.5));
  backdrop-filter: blur(30px);
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 20px;
}

.logInput{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main .logImage {
  width: 400px;
  height: 400px;
}

.logInput #email{
  width: 200px;
  border: none;
  padding: 8px;
  margin-bottom: 40px;
  border-radius: 8px;
}

.logInput p{
 font-size: 30px;
  font-family: Algerian;
}

.logInput #pass{
  width: 200px;
  border: none;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.logInput #btn{
  width: 80px;
  font-family: Algerian;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  background: #fff;
  cursor: pointer;
}

